<!-- _footer.html.erb -->
<footer class="bg-body-tertiary text-center text-lg-start" style="position: fixed; bottom: 0; width: 100%;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com y VicenteACEVEDAWG</a>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">pictochat</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">instagram</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">facebook</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">my position in PDI most wanted list</a></li>
      </ul>
  </div>
  <!-- Copyright -->
</footer>